<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App with Nodejs and MongoDB</h1>
  <p class="lead">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque consequatur quibusdam facere et minus exercitationem.
  </p>
  <hr class="my-4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officia praesentium in, itaque laboriosam expedita cum fugiat libero ipsum harum.
  </p>
  <a href="https://www.linkedin.com/in/edwin-vega-9b9a07266" class="btn btn-primary" target="_blank" >Edwin Vega</a>
</div>